<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head('一覧')">
</head>

<body>
  <div th:replace="fragments/layout :: navbar"></div>

  <div class="container-fluid">
    <h5>一覧</h5>
    <hr>

    <div class="row">
      <div class="col-sm-12">

        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th width="10%">ID</th>
              <th width="20%">商品名</th>
              <th width="40%">商品内容</th>
              <th width="20%">数量</th>
              <th width="10%">削除</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="stock:${stock}">
              <td th:text="${stock.id}"></td>
              <td>
                <a th:text="${stock.name}"th:href="@{/stocks/{id}/update/(id=${stock.id})}">
                </a>
              </td>
              
              <td>
                <a th:text="${stock.information}">
                </a>
              </td>
              
              <td>
                <a th:text="${stock.quantity}">
                </a>
              </td>
              
              <td>
                <a th:href="@{/stocks/{id}/delete/(id=${stock.id})}" onClick="return window.confirm('削除してよろしいですか？')">
                  <i class="far fa-trash-alt fa-lg" aria-hidden=”true”></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>